@ni:registry=https://main.artifacts.ni.com/artifactory/api/npm/it-npm-ci/
//main.artifacts.ni.com/artifactory/api/npm/it-npm-ci/:_authToken=${NPM_TOKEN}
//main.artifacts.ni.com/artifactory/api/npm/it-npm-ci/:always-auth=true
