/* Base link styles */
.link {
  display: inline-flex;
}

/* Link variants */
.linkDefault {
  text-decoration: underline;
}
.linkDefault:hover {
  text-decoration: none;
}

.linkQuiet {
  text-decoration: none;
}
.linkQuiet:hover {
  text-decoration: underline;
}

.linkAsButton {
  all: unset;
  display: block;
}

.strechButton {
  width: 100%;
  justify-content: center;
  max-inline-size: unset;
}
