@use "@ni/circuit-styles/scss/override";
@use "../node_modules/@carbon/react/index";

body {
  margin: 0;
  --global-max-content-width: 99rem;
  --global-horizontal-padding: 1.2em;
}

@media (min-width: 320px) {
  body {
    --global-horizontal-padding: 2em;
  }
}

@media (min-width: 672px) {
  body {
    --global-horizontal-padding: 4em;
  }
}
