.container {
  border: 1px solid red;
  padding: 1em;
  margin-block: 2rem;
  position: relative;
}

.container::after {
  position: absolute;
  top: -10px;
  background: white;

  content: "Container";
}

.editableText {
  position: relative;
  border: 1px solid blue;
  margin-block: 2rem;
  padding: 1em;
}

.editableText::after {
  position: absolute;
  top: -10px;
  background: white;

  content: "EditableText";
}
