.flexContainer {
  display: flex;
}

// Flex directions
.flexDirectionRow {
  flex-direction: row;
}

.flexDirectionRowReverse {
  flex-direction: row-reverse;
}

.flexDirectionColumn {
  flex-direction: column;
}

.flexDirectionColumnReverse {
  flex-direction: column-reverse;
}

// Flex wrap
.flexWrapNoWrap {
  flex-wrap: nowrap;
}

.flexWrapWrap {
  flex-wrap: wrap;
}

.flexWrapWrapReverse {
  flex-wrap: wrap-reverse;
}

// Align items
.alignItemsStretch {
  align-items: stretch;
}

.alignItemsFlexStart {
  align-items: flex-start;
}

.alignItemsCenter {
  align-items: center;
}

.alignItemsFlexEnd {
  align-items: flex-end;
}

.alignItemsSpaceAround {
  align-items: space-around;
}

.alignItemsBaseline {
  align-items: baseline;
}

// Justify content
.justifyContentFlexStart {
  justify-content: flex-start;
}

.justifyContentCenter {
  justify-content: center;
}

.justifyContentFlexEnd {
  justify-content: flex-end;
}

.justifyContentSpaceBetween {
  justify-content: space-between;
}

.justifyContentSpaceAround {
  justify-content: space-around;
}

.justifyContentSpaceEvenly {
  justify-content: space-evenly;
}
