.pricingCard {
  min-height: 300px;
  max-height: fit-content;
  border: 1px solid #d9d9d9;
  background: #fff;
  border-radius: 0.4rem;
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
