.richtext {
  strong {
    font-weight: 600;
  }

  &.charcoal {
    color: #333333;
  }

  &.lightGrey {
    color: #757575;
  }

  &.niDigitalGreen {
    color: #006c46;
  }

  // Margin block
  &.verticalSpacingNone {
    margin-block: 0;
  }

  &.verticalSpacingVerySmall {
    margin-block: 8px;
  }

  &.verticalSpacingSmall {
    margin-block: 16px;
  }

  &.verticalSpacingMedium {
    margin-block: 24px;
  }

  &.verticalSpacingLarge {
    margin-block: 32px;
  }
}
